@charset "UTF-8";

html {
   background-image: url("../images/Moviebg.jpg");
   background-size: cover;
}

section{
   color:white;
}

section#q1 h1{
   font-family:"Montserrat";
   position:relative;
   left:20px;
   top:250px;
   text-transform:uppercase;
}
section#q1 p1{
   position:relative;
   top:230px;
   left:50px;
   font-family:"Roboto Condensed";
   text-transform:uppercase;
}
section#q1 p2{
   position:relative;
   top:250px;
   left:-60px;
}
section#q2 h1{
   position:relative;
   left:318px;
   top:190px;
   font-family:"Roboto Condensed";
   text-transform:uppercase;
   font-size:medium;

}
section#q2 p1{
   position:relative;
   left:330px;
   top:175px;
   font-size:x-small;
   text-transform:uppercase;

}
section#q2 p2{
   position:relative;
   font-family:"Roboto Condensed";
   left:210px;
   top:192px;
}
section#q3 h1{
   color:white;
   font-family:"Montserrat";
   position:relative;
   text-transform:uppercase;
   left: 500px;
   top: 50px;
}
section#q3 img{
   position:relative;
   top:-75px;
   left:300px;
}
section#q3 p1{
   position:relative;
   font-family:"Roboto Condensed";
   top:30px;
   left:535px;
}
section#q3 p2{
   position:relative;
   font-family:"Playfair";
   top:50px;
   left:452px;
}
section#q4 h1{
   position:relative;
   font-family:"Montserrat";
   text-transform:uppercase;
   font-size:40px;
   left:120px;
   top:-30px;
}
section#q4 p1{
   position:relative;
   font-family:"Roboto Condensed";
   left:250px;
   top:-55px;
}
section#q4 p2{
   position:relative;
   font-family:"Playfair";
   left:285px;
   top:-66px;
   font-size:x-small;
}
section#q4 p3{
   position:relative;
   font-family:"Playfair";
   left:230px;
   top:-55px;
   font-size:larger;
}
section#q4 p4{
   position:relative;
   font-family:"Playfair";
   font-size:smaller;
   left:181px;
   top:-45px;
}
main h1{
   position:relative;
   font-family:"Potta One";
   color:white;
   font-size:300px;
   left:250px
}
main p1{
   position:relative;
   text-transform:uppercase;
   font-family:"Montserrat";
   color:white;
   font-size:30px;
   left:400px;
   bottom:230px;
}
main a{
   color:beige;
   position:relative;
   left:100px;
   bottom:205px;
}
.potta-one-regular {
  font-family: "Potta One", system-ui;
  font-weight: 400px;
  font-style: normal;
}
.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100px;
  font-style: normal;
}
.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
}


.roboto-condensed-regular {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
}
.playfair-normal> {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
}